<div class="search">
  <form action="http://www.baidu.com/s?" method="get" accept-charset="utf-8">
    <input type="search" name="wd" results="0" placeholder="<%= __('search') %>">
    <input type="hidden" name="p6" value="<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div>
